.box-head {
    color: purple;
    background-color: beige;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px
}

img {
    border: 30px solid rgb(99, 76, 67);
    width: 300px;
    margin: 20px auto
}

/* centering img Whatever width you choose, the image will need to have equal left and right margins. You can achieve this easily by giving the margin property a value of auto:
 */
.main-border {
    border: 20px solid black;
    width: 700px;
    margin: 0px auto;
}


.container {
    width: 600px;
    height: 6x;
    margin: 20px auto;
    border: 15px solid black;
}

/* positioning imgages in css right and left will need auto property */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

/* Set background colors for different elements: */

body {
    background-color: #bbb465;
}

/* example but h1 is being oiverwritten by .box head selector */
h1 {
    background-color: #6bac22;
}

div {
    background-color: #d5f4e6;
}